/* font  */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #202020;
  --secondary: #303030;
  --smoke: #323232;
  --purple: #6859bb;
  --yellow: #ffc260;
  --hot: #f75c5c;
  --sky: #94cdff;
  --pure: #ffffff;
}

body {
  background-color: var(--secondary);
  font-family: "Nunito", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  color: var(--pure);
  margin: 1rem 0;
  font-size: 2.5rem;
  user-select: none;
  margin-top: 2rem;
}

.wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: var(--primary);
  padding: 6px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.list-wrapper {
  list-style-type: none;
}

.list-wrapper li {
  color: var(--pure);
  background-color: var(--smoke);
  margin: 6px 0;
  padding: 6px;
  padding-left: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-left: 1px solid var(--pure);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  word-wrap: break-word;
  text-transform: capitalize;
}

.list-wrapper li:first-child {
  margin-top: 0;
}

.list-wrapper li:last-child {
  margin-bottom: 0;
}

/*  */
.action-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 3rem;
}

.input-group {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  display: flex;
  align-items: center;
}

.input-group input[name="todo-input"] {
  background-color: transparent;
  color: var(--pure);
  border: none;
  outline: none;
  flex: 90%;
  width: 100%;
  padding: 6px 0;
  padding-left: 4px;
  font-size: 1rem;
}

.input-group input[name="todo-input"]::placeholder {
  color: var(--pure);
}

.input-group #add-btn {
  flex: 8%;
  background-color: var(--primary);
  color: var(--pure);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 1rem;
}

/*  */
#float-btn {
  background-color: var(--purple);
  height: 40px;
  width: 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--pure);
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  pointer-events: auto;
}

#floating-box {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: transparent;
  padding: 6px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

#floating-box:hover {
  pointer-events: auto;
}

#floating-box:hover #drawer {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

#drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

#drawer .edit-btn,
.delete-btn {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 10px 0;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

#drawer .edit-btn {
  color: var(--yellow);
}

#drawer .delete-btn {
  color: var(--hot);
}

#drawer .edit-btn::after,
.delete-btn::after {
  content: "";
  position: absolute;
  left: -72px;
  top: 1px;
  width: max-content;
  padding: 4px;
  background-color: var(--primary);
  font-size: 12px;
  font-weight: 100;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  opacity: 0;
  pointer-events: none;
}

#drawer .edit-btn::after {
  content: "Edit Todos";
}

#drawer .delete-btn::after {
  content: "Delete Todos";
  left: -86px;
}

#drawer .edit-btn:hover::after,
.delete-btn:hover::after {
  opacity: 1;
}

/*  */

.list-wrapper li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-wrapper li .delete-item,
#edit-item {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 6px;
  cursor: pointer;
}

.list-wrapper li .delete-item i {
  color: var(--hot);
}

.list-wrapper li .undo {
  color: var(--sky) !important;
}

.list-wrapper li #edit-item i {
  color: var(--yellow);
}

.list-wrapper li #edit-input {
  background-color: transparent;
  border: none;
  outline: none;
  flex: 80%;
  width: 100%;
  color: var(--yellow);
  border-bottom: 1px solid var(--yellow);
  padding-bottom: 6px;
}

.list-wrapper li span.todo-name.disabled {
  text-decoration: line-through;
  color: var(--hot);
  font-style: italic;
}

/*  */

@media screen and (max-width: 500px) {
  .heading {
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 4px;
  }
}
